.contacto_main{
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 4fr;
    padding: 20px;
    column-gap: 30px;
}

.contacto_form{
    width: 500px;
    height:450px;
    box-shadow: 0px 0px 3px black;
    display: grid;
    justify-self: end;
    justify-items: center;
    background-color: rgb(244, 81,81);
    h2{
        color: #D5A021;
    }
    fieldset{
        display: grid;
        justify-content: center;
        border:none;
        label{
            width: 450px;
            color: #ede7d9;

            input{
                width: 100%;
                height: 30px;
                &:focus{
                    color:#d58a21;
                    box-shadow: #d58a21 0px 0px 3px;
                    border:#d58a21 solid;
                    outline: #d58a21;
                }
            }
        }
        textarea{
            width: 100%;
        }
    }
    
}

.form_dato{
    height: 50px;
    width: 300px;
}
.contacto_escribenos{
    display:grid;
    justify-self: start;
    justify-items: center;
    width: 400px;
    color: #ede7d9;
    background-color: rgb(244, 81,81);
    box-shadow: 0px 0px 4px black;
    h1{
        color:#D5A021;
    }
}

.boton_enviarmsj{
    background-color: #D5A021;
    border-radius: 10%;
    border:none;
    color:#ede7d9;
    font-family: Anton;
    width: 100px;
    &:hover{
        cursor:pointer;
        background-color: #0c7b10;

    }
}