@media (max-width:930px){
    .examenes_section{
        padding:20px;
        grid-template-columns: 1fr;
        row-gap: 20px;
        }

    .examenes_container{
        width: 90%;
    }

    .examenes_subcontainer{
        width: 90%;
    }

    .examen{
        width: 100%;
    }
}

@media (max-width:520px){
    .hoja_examenes{
        width: 100%;
        height: 450px;
    }
    .hoja_preguntas{
        height: 350px;
    }

}

@media (max-width:490px){
    .hoja_preguntas{
        width: 90%;        
        font-size: 14px;
    }

}

@media (max-width:390px){
    .examenes_title{
    font-size:19px;
    }
}